# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
invoiceenv/

# Environment variables
.env

# MacOS system files
.DS_Store

# Uploaded invoices (DO NOT COMMIT)
app/storage/invoices/originals/images/*
app/storage/invoices/originals/pdfs/*

# Preprocessed images
app/storage/pre-processed/*

# Temporary files
app/storage/temp/*

# Keep folders
!app/storage/**/.gitkeep